.page-header{
  height: 100px;
  background-color: orange;
  color: green;
  text-align: center;
  padding-top: 20px;
  margin-top: 0px;
  margin-left: -12px;
  margin-right: -12px;
}
.sidebar{
  height: 500px;
  background-color: green;
}
.sidebar h2{
  color: black;
}
.sidebar h3{
  color: yellow;
}
.sidebar h4{
  color: white;
}
.main{
  height: auto;
  background-color: grey;
  color: black;
}
#results{
  background-color: white;
  //border-top: 1px solid #037204;
  width: 70%;
}
.polaroid {
  box-shadow: 0 0 10px #000000;
  width: 70%;
  height: auto;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 10px;
}
