
.navbar{
  border-radius: 0px;
  background-color: #7C79FF;

  }
.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family:    Garamond;
    font-size:      1.5em;
}
/* Adjust Menu colors - Normal */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
color:          lightgray;
text-shadow:    none;
}
/* Adjust Menu colors - Hover */
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter {
color:          white;
text-shadow:    none;
}
/* Adjust Menu colors - Active */
.navbar .nav > li > a:active, .navbar .nav > li > a:active:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a,
.navbar .nav > li.current-menu-item > a:first-letter,
.navbar .nav > li.current-menu-ancestor > a:first-letter {
color:          red;
text-shadow:    none;
}

#logo{
  color: Blue;
  font-family:    Garamond;
  font-size:      2.5em;
}
.jumbotron{
  text-align: center;
  background-color: #DAC5FF;
  margin-left: -14px;
  margin-right: -14px;
  padding-top: 5px;
}
.jumbotron h1{
  color: green;

}
.thumbnail img:hover{
  transform: scale(1.1);
}
.thumbnail img {
  transition: all 0.3s ease 0s;
  width: 100%;
}
.thumbnail{
  overflow: hidden;
}
.panel{
  text-align: center;
}
.page-header{
  height: auto;
  background-color: #FFF76D;
  color: green;
  text-align: center;
  padding-top: 10px;
  margin-top: 55px;
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: 3px;
}
.sidebar{
  height: auto;
  background-color: #3E8EE8;
}
.sidebar h2{
  color: black;
}
.sidebar h3{
  color: yellow;
}
.sidebar h4{
  color: white;
}
.main{
  height: auto;
  background-color: #EA51FF;
  color: black;
  margin-bottom: 0px;
}
#ping{
  background-color: #3E8EE8;
  width: 68%;
}
#pong{
  background-color: #A7653D;
  width: 68%;
}
#pingpong{
  background-color: #31FF50;
  width: 68%;
}
#results{
  background-color: white;
  //border-top: 1px solid #037204;
  width: 70%;
}
.polaroid {
  box-shadow: 0 0 10px #000000;
  width: 70%;
  height: auto;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 10px;
}
.footer{
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
  padding-top: 5px;
}

.panel{
  margin-top: 10px;
  padding-top: -10px;
}
.panel-heading{
  padding-top: 1px;
  padding-bottom: 1px;
}
#success_message{ display: none;}
.panel-title{
  padding: 20px;
  font-size: 20px;
}
.remarks{
  padding: 16px;
}
#downloadTable thead{
  background-color: #0722ef;
  color: white;
  font-size: 20px;
}
#map {
 height: 400px;
 width: 100%;
}
