.navbar{
  border-radius: 0px;
    background-color: #A7653D;

  color: black;
}
.page-header{
  height: 320px;
  background-color: #FFF76D;
  color: green;
  text-align: center;
  padding-top: 10px;
  margin-top: 55px;
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: 3px;
}
.sidebar{
  height: auto;
  background-color: #3E8EE8;
}
.sidebar h2{
  color: black;
}
.sidebar h3{
  color: yellow;
}
.sidebar h4{
  color: white;
}
.main{
  height: auto;
  background-color: #EA51FF;
  color: black;
  margin-bottom: 0px;
}
#ping{
  background-color: #3E8EE8;
  width: 68%;
}
#pong{
  background-color: #A7653D;
  width: 68%;
}
#pingpong{
  background-color: #31FF50;
  width: 68%;
}
#results{
  background-color: white;
  //border-top: 1px solid #037204;
  width: 70%;
}
.polaroid {
  box-shadow: 0 0 10px #000000;
  width: 70%;
  height: auto;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 10px;
}
.footer{
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
  padding-top: 5px;
}

.panel{
  margin-top: 10px;
  padding-top: -10px;
}
.panel-heading{
  padding-top: 1px;
  padding-bottom: 1px;
}
#success_message{ display: none;}
